// Breakpoints
$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 968px;
$breakpoint-xl: 1200px;
$breakpoint-2xl: 1400px;

// Mixins for Media Queries
@mixin mobile {
  @media (max-width: #{$breakpoint-md - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-md}) and (max-width: #{$breakpoint-lg - 1px}) {
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: #{$breakpoint-lg - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin desktop-large {
  @media (min-width: #{$breakpoint-xl}) {
    @content;
  }
}

@mixin custom($min: null, $max: null) {
  @if $min and $max {
    @media (min-width: #{$min}) and (max-width: #{$max}) {
      @content;
    }
  } @else if $min {
    @media (min-width: #{$min}) {
      @content;
    }
  } @else if $max {
    @media (max-width: #{$max}) {
      @content;
    }
  }
}

